<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.petshop.mapper.CategoryOssMapper">

    <resultMap type="com.ruoyi.petshop.domain.CategoryOss" id="CategoryOssResult">
        <result property="ossId" column="oss_id"/>
        <result property="catId" column="cat_id"/>
        <result property="imgUrl" column="img_url"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


</mapper>
